{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="icon" href="{% static 'main/css/favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8" />
    <title>Авторизация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'users/css/entry.css' %}" type="text/css" />
    <script src="{% static 'users/js/entry.js' %}" defer></script>
  </head>
  <body>
    <div class="dws-wrapper">
      <div class="dws-form">
        <label class="tab active" id="tab-1">Авторизация</label>
        <label class="tab" id="tab-2">Регистрация</label>

        <form method="post"  class="tab-form active">
          {% csrf_token %}
          <div class="box-input">
            <p>{{ form.username }}
            <label>Введите имя пользователя </label></p>
          </div>
          <div class="box-input">
            <p>{{ form.password }}
            <label>Введите пароль</label></p>
          </div>
          <input type="submit" class="button" value="Войти"/>
          <input type="hidden" name="next" value="/mypage" />
          <ul class="social">
            <li>
              <a href="#"
                ><div><i class="fa fa-facebook"></i></div
              ></a>
            </li>
            <li>
              <a href="#"
                ><div><i class="fa fa-twitter"></i></div
              ></a>
            </li>
            <li>
              <a href="#"
                ><div><i class="fa fa-instagram"></i></div
              ></a>
            </li>
            <li>
              <a href="#"
                ><div><i class="fa fa-vk"></i></div
              ></a>
            </li>
            <li>
              <a href="#"
                ><div><i class="fa fa-youtube"></i></div
              ></a>
            </li>
          </ul>
          <a href="#">Я забыл свой E-mail или пароль</a>
        </form>

        <form method="post"  class="tab-form">
          {% csrf_token %}

          <div class="box-input">
            {{ user_form.email }}
            <label>Введите E-mail</label>
          </div>
          <div class="box-input">
            {{ user_form.username }}
            <label>Введите свое имя</label>
          </div>
          <div class="box-input">
            {{ user_form.password }}
            <label>Введите пароль</label>
          </div>
          <div class="box-input">
            {{ user_form.password2 }}
            <label>Повторите пароль</label>
          </div>
          <p><input type="submit" class="button" value="Зарегестрироваться"></p>
          <div class="recover">
            <input type="checkbox" id="ckbox" />
            <label for="ckbox"
              >Ознакомлен(-а) и принимаю
              <a href="#" class = "condition">условия регистрации</a></label>
          </div>
        </form>
      </div>
      <div class ="condition-form">
      <div class = "white-form">
      <a href='#' class="close">&#x2716</a>
        <h1>Условия регистрации </h1>
        <p>Нужно нажать зарегистрироваться и отметить галочку. Условий больше нет</p>
      </div>
      </div>
    </div>
  </body>
</html>